.contacts__title {
  font-family: @font;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
  margin: 0;
}

.contacts__text {
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.contacts__type {
  font-family: @font;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: @color-main;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
}

.contacts__info {
  text-align: center;
  min-height: 415px;
}

.contacts__item {
  margin-bottom: 23px;
}

.contacts__item_email {
  margin-left: 5px;
}

.contacts__item_adress .contacts__text {
  margin-bottom: 4px;
}

@media (min-width: @tablet) {
  .contacts__title {
    width: 375px;
    font-size: 40px;
    line-height: 48px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .contacts__list {
    padding-bottom: 0;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts {
    padding-top: 4px;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 28px;
  }

  .contacts__item_adress {
    width: 250px;
    margin: 0 auto;
  }

  .contacts__type {
    font-size: 24px;
    line-height: 30px;
  }

  .contacs__map {
    height: 374px;
  }
}
