.intro__text {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-second; 
  padding: 20px 0px;
  text-align: center;
  margin: 0 auto;
  
}

.intro__text_photo {
  padding: 0 24px;
  padding-bottom: 48px;
}

.intro__text_br {
  display: block;
}

.intro__text_large {
  font-family: @font;
  font-weight: 200;
  font-size: 24px;
  color: @color-second;
  width: 100%;
  margin-bottom: 26px;
  padding: 0; 
}

.intro {
  display: flex;
  min-height: 170px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 45px;
}

.intro_index {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.intro__tablet {
  display: none;
}

@media (min-width: @tablet) {
  .intro {
    min-height: 194px;
    width: 600px;
    padding: 0;
    padding-top: 33px;
    margin: 0 auto;
  }

  .intro__text_br {
    display: inline-block;
  }

  .intro_photo {
    min-height: 170px;
  }

  .intro_index {
    padding: 0;
    padding-top: 2px;
    padding-left: 0px;
  }

  .intro__tablet {
    display: block;
    margin-top: 0px;
    line-height: 30px;
  }

  .intro__text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .intro__text_large {
    width: 600px;
    font-weight: 200;
    font-size: 40px; 
    line-height: 49px;
    margin: 0;
  }
}


@media (min-width: @desktop) {
  .intro {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    margin: 0 auto;
    width: 960px;
    display: flex;
  }

  .intro_index {
    min-height: 210px;
    padding-top: 68px;
    padding-left: 80px;
    margin-bottom: 10px;
  }

  .intro_photo {
    padding-top: 80px;
  }

  .intro__text {
    display: block;
    width: 800px;
    min-height: 110px;
    padding-top: 94px;
    padding-bottom: 0px;
  }

  .intro__text_photo {
    min-width: 600px;
    margin: 0 auto;
    margin-top: 14px;
    padding: 0;
    padding-bottom: 36px;
  }

  .intro__text_large {
    font-size: 50px; 
    line-height: 60px;
    width: 800px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    min-height: 60px;
    padding-top: 0;
  }

  .intro__text_desktop {
    margin: 0;
    margin-left: 0px;
    padding-top: 0;
  }

  .intro__tablet {
    margin: 0;
    display: inline-block;
  }

  .intro__text_br {
    display: inline-block;
  }
}
