.intro__text {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-second; 
  pading: 20px 30px;
  text-align: center;
}

.intro__text_large {
  font-family: @font;
  font-weight: 200;
  font-size: 24px;
  color: @color-second;
  width: 100%;
  margin-bottom: 26px; 
}

.intro {
  display: flex;
  min-height: 170px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 45px ;
}

.intro_index {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.intro__tablet {
  display: none;
}

@media (min-width: @tablet) {
  .intro {
    min-height: 162px;
    width: 600px;
    padding: 0;
    padding-left: 60px;
  }

  .intro__tablet {
    display: block;
  }

  .intro__text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .intro__text_large {
    font-size: 40px; 
    line-height: 49px;
    margin: 0;
  }
}


@media (min-width: @desktop) {
  .intro {
    min-height: 225px;
  }

  .intro_index {
    min-height: 210px;
  }

   .intro__text_large {
    font-size: 50px; 
    line-height: 60px;
  }
}
