.main-image {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 23%;
  background-repeat: no-repeat;
  min-height: 170px;
}

.main-image_index {
  min-height: 175px;
  margin-bottom: 40px;
  background-position: 50% -32%;
}

.main-image__title {
  margin: 0;
  display: none;
}

.main-image__button {
  display: block;
  padding: 14px 35px;
  border: 3px solid white;
  border-radius: 50px 50px 50px 50px;
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @text-color-second;
}

.main-image__download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 36px;
  width: 240px;
}

.main-image__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: center;
}

.main-image__wrapper_index { 
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 110px;
  background-repeat: no-repeat;
  padding-top: 424px;
  padding-bottom: 30px;
  text-align: center; 
}

.main-image__download-info {
  display: block;
  margin: 0;
  padding-top: 19px;
  font-family: @font;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  color: @text-color-second;
}

.main-image__text {
  display: block;
  margin: 0;
  font-family: @font;
  font-weight: 200;
  font-size: 24px;
  padding-top: 29px;
}

@media (min-width: @tablet) {
  .main-image {
    min-height: 325px;
    margin-bottom: 92px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 103%;
    background-repeat: no-repeat;
  }

  .main-image__title {
    display: block;
    width: 200px;
    margin-bottom: 30px;
    padding-top: 93px;
    padding-left: 50px;
    font-weight: 200;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: @bg-color-main;
  }

  .main-image_index {
    display: flex;
    min-height: 620px;
    margin-bottom: 45px;
  }

  .main-image__text {
    padding-top: 70px;
    font-size: 50px;
    line-height: 60px;
  }
  
  .main-image__wrapper {
    width: 490px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-image__wrapper_index {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    width: 300px;
    min-height: 615px;
    padding-left: 20px;
    padding-right: 340px;
  }

  .main-image__button {
  padding: 15px 45px;
  }

  .main-image__download-info {
    font-size: 18px;
    padding: 0;
  }

  .main-image__download {
    margin-top: 49px;
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop) {
  .main-image {
    min-height: 285px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
    background-color: transparent;
  }

  .main-image__text {
    padding-top: 65px;
  }

  .main-image__wrapper {
    padding-bottom: 85px;
    min-width: 860px;
    text-align: center;
  }

  .main-image_index {
    min-height: 745px;
    margin-bottom: 67px;  
  }

  .main-image__button {
    display: block;
    width: 300px;
    box-sizing: border-box;
    padding: 15px 10px;
    font-size: 21px;
  }

  .main-image__wrapper_index {
    width: 940px;
    min-height: 745px;
    padding-left: 0;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 16px 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .main-image__download {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 51px;
    margin-top: 70px;
  }

  .main-image__title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 200;
    padding-left: 0;
    padding-top: 110px;
    width: 300px;
    margin-bottom: 52px;
  }

  .main-image__download-info {
    width: 300px;
  }
}
