.main-header__menu {
  position: relative;
  z-index: 5;
  margin-bottom: -66px;
  color: @text-color-second;
}

.main-header__logo-image {
  display: block;
  width: 80px;
  height: 25px;
  outline: none;
  padding-left: 10px;
}

.main-header__logo-image:hover {
    fill: @color-main;
}

.main-header__logo-image:focus {
    fill: @color-main;
}

.main-header__logo-image:active {
    fill: @bg-color-main;
    opacity: 0.3;
}

.main-header__logo-image {
  fill: @bg-color-main;
}

.main-header__menu_opened {
    background-color: @color-second;
}

.main-header__menu-btn_opened {
  fill: @text-color-second;
}

.main-header__menu-btn_opened:hover {
  fill: @color-main;
}

.main-header__menu-btn_opened:active {
  fill: rgba(210,40,86, 0.3);
}

.main-header__menu-btn_closed:hover {
  fill: @color-main;
}

.main-header__menu-btn_closed:active {
  fill: rgba(210,40,86, 0.3);
}

.main-header__menu_closed {
    background-color: rgba(0, 0, 0, 0.3);
}

.main-header__head-menu {
  display: flex;
  min-height: 50px;
  padding: 22px 10px;
  box-sizing: border-box;
}

.main-header__head-menu a {
  display: block;
  margin-left: 2px;
  margin-top: 1px;
}

.main-header__logo{
  margin-left: 9px;
}

.main-header__menu_closed .main-header__head-menu {
  z-index: 3;
}

.main-header__menu-btn_opened {
  display: none;
}

.main-header__menu-btn_closed {
  display: none;
}

.main-header__menu_opened .main-header__menu-btn_opened {
  display: block;
}

.main-header__menu_closed .main-header__menu-btn_closed {
  display: block;
}

.main-header__menu_closed .main-nav {
  display: block;
}

@media (min-width: @tablet) {
  .main-header__menu {
    margin-bottom: -160px;
  }

  .main-header__head-menu {
    box-sizing: border-box;
    padding: 22px 9px;
    padding-left: 20px;
    min-height: 110px;
  }

  .main-header__logo-image {
    width: 200px;
    height: 40px;
    margin-top: 5px;
    margin-left: 2px;
  }
}

@media (min-width: @desktop) {
  .main-header {
    background-color: #1d2631;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0%;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .main-header__head-menu {
    min-height: 48px;
    padding: 27px 82px;
  }

  .main-header__menu {
    background-color: rgba(0, 0, 0, 0);
  }

  .main-header__wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    max-width: auto;
    margin: 0 auto;
    padding: 0 46px;
    padding-right: 78px;
  }

  .main-header__logo-image {
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 50px;
  }

  .main-header__head-menu_index .main-header__logo {
    margin-left: 2px;
  }
}
