.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 0px;
}

.main-footer_index {
  display: none;
}

.main-footer__social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 36px;
  margin-left: 11px;
}

.main-footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.main-footer__social-icon {
  fill: @color-main;
}

.main-footer__social-item:hover {
  border: 3px solid @color-second;
  outline: none;
}

.main-footer__social-item:focus {
  border: 3px solid @color-second;
  outline: none;
}

.main-footer__social-item:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
  outline: none;
}

.main-footer__social-item:active .main-footer__social-icon {
  opacity: 0.3;
  outline: none;
}

.main-footer__icon_desktop {
  display:none;
}

.main-footer__logo:hover .main-footer__icon {
  fill: @color-main;  
}

.main-footer__logo:active .main-footer__icon {
  opacity: 0.3;
  fill: #283645;  
}

.main-footer__academy-logo {
  fill: @color-main;
}

.main-footer__academy-logo:hover {
  fill: @color-second;
}

.main-footer__academy-logo:active {
  opacity: 0.3;
}

.main-footer__produced {
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.main-footer__text {
  margin-right: 15px;
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-color-main;
  padding-bottom: 5px;
}

.main-footer__link {
  display: flex;
  align-items: center;
}

@media (min-width: @tablet) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 35px;
    box-sizing: border-box;
  }

  .main-footer_index .main-footer__social-list {
    margin-top: 40px;  
  }

  .main-footer__social-list {
    margin-top: 39px;
    margin-left: 70px;
  }

  .main-footer__social-item {
    margin-left: 0px;
  }

  .main-footer__logo {
    margin-top: 30px;
    margin-left: 1px;
    margin-bottom: 0px;
  }

  .main-footer__produced {
    padding-left: 77px;
    margin-top: 50px;
  }

  .main-footer_index .main-footer__produced {
    margin-top: 45px;
  }

  .main-footer__text {
    margin-bottom: 0px;
  }
}

@media (min-width: @desktop) {
  .main-footer {
    width: 940px;
    padding-top: 5px;
    padding-bottom: 72px;
  }

  .main-footer_index {
    padding-top: 43px;
  }

  .main-footer_index .main-footer__social-list {
    margin-top: 31px;
    margin-left: 205px;
    margin-bottom: 7px;
  }

   .main-footer_index .main-footer__social-item {
    margin-right: 13px;
  }

  .main-footer_index .main-footer__produced {
    padding-bottom: 5px;
  }

  .main-footer_index .main-footer__text {
    padding-bottom: 6px;
  }

  .main-footer__logo {
    margin: 0;
    padding-top: 13px;
    padding-right: 28px;
  }

  .main-footer_index .main-footer__logo {
    padding-top: 6px;
  }
  .main-footer__icon_desktop {
    display: block;
  }

  .main-footer__icon_mobile {
    display: none;
  }

  .main-footer__produced {
    margin-left: auto;
    padding-bottom: 0px;
    margin-top: 45px;
  }

  .main-footer__text {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .main-footer__social-list {
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 211px;
  }

  .main-footer__academy-logo {
    padding-bottom: 10px;
  }
}
    
