.price {
  background-color: @bg-color-second;
  background-position: 0 -27px;
  background-repeat: no-repeat;
  margin-bottom: 42px;
  padding-top: 133px;
  padding-bottom: 47px;
  overflow: hidden;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 -27px;
  background-repeat: no-repeat;
}

.price__label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  background-color: @color-second;
  opacity: 0.3;
  border: 3px solid @bg-color-second;
  border-radius: 50%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.price__label:hover {
    opacity: 0.6;
}

.price__label:active {
    opacity: 0.1;
}

.price__controls {
  width: 62px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  order: 3;
}

.price__list {
  width: 831px;
  text-transform: uppercase;
  border-collapse: collapse;
  transition: transform 0.5s ease;
}

.price__header {
  padding-bottom: 16px;
  color: @text-color-second;
  background-color: @color-second;
  border-bottom: none;
  box-sizing: border-box;
}

.price__header_mobile {
    display: none;
}

.price__header_base {
    border-left: 1px solid @color-second;
    border-right: 2px solid @bg-color-second;
}

.price__header_unlim {
    border-right: 1px solid @color-second;
    border-left: 2px solid @bg-color-second;
}

.price__name {
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 2px;
}

.price__value {
  font-family: @font;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
}

.price__bottom {
  background-color: @bg-color-main;
}

.price__cell {
  padding: 14px 21px 14px;
  border: 2px solid #e5e5e5;
}

.price__cell_yes {
    background-image: url("../img/icon-yes.svg");
    background-position: 230px 18px;
    background-repeat: no-repeat;
    background-size: 30px 23px;
}

.price__cell_no {
    background-image: url("../img/icon-no.svg");
    background-position: 231px 15px;
    background-repeat: no-repeat;
    background-size: 27px 27px;
}

.price__cell_mobile {
  display: none;
}

.price__toggle_1:checked ~ .price__controls [for="price1"] {
  background-color: @bg-color-main;
  border: 3px solid @color-second;
  opacity: 1;
}

.price__toggle_2:checked ~ .price__controls [for="price2"] {
  background-color: @bg-color-main;
  border: 3px solid @color-second;
  opacity: 1;
}

.price__toggle_3:checked ~ .price__controls [for="price3"] {
  background-color: @bg-color-main;
  border: 3px solid @color-second;
  opacity: 1;
}

input[type="radio"]:focus + .price__label {
  opacity: 0.6;
  outline: none;
}


.price__toggle_1:checked ~ .price__list {
  transform: translateX(22px);
}

.price__toggle_2:checked ~ .price__list {
  transform: translateX(-254px);
}

.price__toggle_3:checked ~ .price__list {
  transform: translateX(-532px);
}

.price__hit {
  position: relative;
}

.price__hit::before {
  content: url("../img/bg-hit.svg");
  position: absolute;
  display: block;
  top: -16px;
  left: -3px;
}

.price__hit::after {
  content: "хит";
  position: absolute;
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: @text-color-second;
  top: -5px;
  left: 6px;
  text-transform: uppercase;
  transform: rotate(-45deg);
}


@media (min-width: @tablet) {
  .price {
    width: 100%;
    padding-top: 104px;
    padding-bottom: 68px;
    background-position: 0 -22px;
  }

  .price__controls {
    display: none;
  }

 .price__list {
    width: 620px;
    margin: 0px;
    margin-left: 22px;
    margin-top: 6px;
    text-transform: none;
    empty-cells: hide;
  }

  .price__header {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .price__top {
    height: 80px;
  }

  .price__name {
    font-family: @font;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 0px;
  }

  .price__value {
    font-family: @font;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  .price__cell {
    min-width: 155px;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .price__cell_yes {
      font-size: 0;
      background-position: 50% 50%;
    }

  .price__cell_no {
      font-size: 0;
      background-position: 50% 50%;
  }

  .price__toggle_1:checked ~ .price__list {
    transform: none;
  }

  .price__toggle_2:checked ~ .price__list {
    transform: none;
  }

  .price__toggle_3:checked ~ .price__list {
    transform: none;
  }

  .price__header_mobile {
    display: table-cell;
    border-bottom: 2px solid #e5e5e5;
    background-color: @bg-color-second;
  }

  .price__cell_mobile {
    display: table-cell;
  }

  .price__hit::before {
    content: url("../img/bg-hit-tablet.svg");
    top: -11px;
    left: -1px;
  }

  .price__hit::after {
      top: -7px;
      left: 5px;  
  }
}

@media (min-width: @desktop) {
  .price {
    padding-top: 142px;
    padding-bottom: 95px;
    background-position: 0% 0%;
    background-size: 100vw auto;
    margin-bottom: 30px;
  }

  .price__list {
    width: 940px;
  }

  .price__top {
    height: 100px;
  }

  .price__header {
    padding-bottom: 15px;
    padding-top: 0;
  }

  .price__hit::before {
      content: url("../img/bg-hit.svg");
      top: -15px;
    }

  .price__hit::after {
      top: -4px;
      left: 9px;
    }

  .price__name {
    margin-top: 17px;
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 30px;
  }

  .price__value {
    font-size: 24px;
    line-height: 30px;
  }

  .price__cell {
    min-width: 170px;
    padding-left: 21px;
    padding-top: 14px;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .price__cell_mobile {
    font-size: 18px;
    line-height: 30px;
  }

  .price__cell_yes {
      font-size: 0;
      background-position: 51% 55%;
  }

  .price__cell_mobile {
      font-size: 18px;
      line-height: 30px;
  }
}


